In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('FRB_H10.csv')

In [3]:
df

,Series Description,Nominal Broad Dollar Index,Nominal Advanced Foreign Economies Dollar Index,Nominal Emerging Market Economies Dollar Index
0,Unit:,INDEX:_2006_JAN_100,INDEX:_2006_JAN_100,INDEX:_2006_JAN_100
1,Multiplier:,1,1,1
2,Currency:,NaN,NaN,NaN
3,Unique Identifier:,H10/H10/JRXWTFB_N.M,H10/H10/JRXWTFN_N.M,H10/H10/JRXWTFO_N.M
4,Time Period,JRXWTFB_N.M,JRXWTFN_N.M,JRXWTFO_N.M
...,...,...,...,...
120,2020-01,115.3260,109.7365,122.3861
121,2020-02,116.7624,111.2927,123.7138
122,2020-03,121.2863,112.7114,131.6013
123,2020-04,123.5943,113.5782,135.5123
124,2020-05,122.9665,113.1603,134.6471